/* Tối ưu & fix lỗi lệch khung cho Html5Qrcode */
#qr-reader { 
  border: none !important; 
  width: 100% !important; 
  height: 100% !important; 
}

#qr-reader video { 
  object-fit: cover !important; 
  width: 100% !important; 
  height: 100% !important; 
}

/* Tắt lớp phủ đen & khung viền mặc định bị lệch của thư viện */
#qr-shaded-region { 
  display: none !important; 
}