@import "tailwindcss";

body {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* Fix viewport camera cho Quagga */
#interactive.viewport video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}